.page-template-blog {
	background-color: $black;
	p.row {
		display: block;
		font-size: rem-calc(30);
		font-family: BigNoodle;
		color:$white;
		margin-bottom:0;
		opacity:0.5;
	}
}

.blog--article-item {
	width:100%;
	margin-bottom: 20px;
	&:nth-child(1) {
		margin-top: 20px;
	}
	a {
		padding:20px;
		display: block;
		width: 100%;
		background-color:rgba($white,0.25);
	}
}
