/*****************
  Loading screen
*****************/
#load_screen{
	background: #000;
	opacity: 1;
	position: fixed;
    z-index:10;
	top: 0px;
	width: 100%;
	height: 1600px;
	transition: 400ms ease-in;
	pointer-events:none;
	#loading{
		color:#FFF;
		width:120px;
		height:24px;
		margin: 25% auto;
	}
}
